<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact | LIKEDIAMOND</title>
	<th:block th:insert="utils/imports.html :: meta"></th:block>
	<th:block th:insert="utils/imports.html :: maincss"></th:block>

</head><!--/head-->

<body>
<th:block th:insert="utils/header.html :: header"></th:block>
	 
	 <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">회사<strong>정보</strong></h2>
				</div>
			</div>
    		<div class="row">
	    		<div class="col-sm-12">
	    			<div class="contact-info">
	    				<address>
	    					<p>조금 인기있는 쇼핑몰</p>
							<p>주소: 대전 유성구 선화동</p>
							<p>국적: 대한민국</p>
							<p>Tel: +123 456 789</p>
							<p>Fax: 1-714-252-0026</p>
							<p>Email: shopping.naver.com</p>
	    				</address>
	    				<div class="social-networks">
	    					<h2 class="title text-center">소셜 미디어</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>
	    	</div>
    	</div>	
    </div><!--/#contact-page-->
	<br><br><br><br><br><br><br><br><br><br>

<th:block th:insert="utils/footer.html :: footer"></th:block>
<th:block th:insert="utils/imports.html :: mainjs"></th:block>

</body>
</html>